<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>user</title>
</head>
<body>
    <form action="user" method="post" id="User" enctype="multipart/form-data">
        <span>id</span>
        <input type="text" name="Id" />
        <br>
        <span>name</span>
        <input type="text" name="username">
        <br>
        <span>email</span>
        <input type="text" name="Email">
        <br>
        <span>file</span>
        <input type="file" name="uploadFile">
        <br>
        <button type="submit">提交</button>
    </form>
</body>
</html>